<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<TestRunParameters>
		<Parameter name="ApiKey" value="935tdfsdewwe3r30b3656yty545trt65fdgret4t3sf32adasd46321" />
		<Parameter name="ApiToken" value="B4533fdfdsTA4edrtd277418grtretert34453b5d1af6bc9efaa2714d281f41c7ab25934sdfd4543igjghgfh4" />
	</TestRunParameters>
</RunSettings>
